*, *:before, *:after {
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
}
* p{
    margin: 0;
}
.wrap{
    background-color: #fff;
    margin: 0 auto;
}
.clearfix{
	content: '';
	display: table;
	clear: both;
}
body{
    font-family: 'Montserrat-Medium';
    color: #fff;
}

.main{
    background: #111;
}
.main p{
    color: #fff;
    padding: 14px 0 4px 3px; 
}
.container {
	max-width: 1170px;
	margin: 0px auto;		
}
/* Title menu */
img {
    max-width: 100%
}
.top_header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    padding-top: 20px;      
}
.gerb_content {
    display: block;
    width: 35%;
}
.gerb {
    display: block;
    float: left;
    width: 83px;
    height: 84px;
}
.gerb img {
    display: inline-block;
    width: 100%;
}
.gerb_content h4 {
    display: block;
    width: 100%;
    padding: 0 0 0 100px;
    font-family: 'Roboto-Regular';
    color: #fff;
}
.list_content{
    width: 32%;
}
ul.menu_about{
    overflow: hidden;
    /* padding-left: 45px; */
    padding-top: 24px;
}
.menu_about li {
    list-style: none;
    float: left;
    margin-right: 15px;
}
.top_header a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.lang_content{
    width: 33%;
    padding-top: 25px;
    padding-right: 15px;
    text-align: right;
}
.lang-search {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    text-align: right;
    margin-right: -4px;
}
.lang {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}
.lang ul {
    list-style: none;
    margin: 0;
}
.lang ul li {
    display: inline-block;
    vertical-align: middle;
}
.lang ul li + li {
    padding-left: 8px;
}
.lang a{
    font-size: 14px;
}
.lang a:hover{
    border-bottom: 1px solid #fff;
}
.search {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    margin-left: -4px;
}
.enter_btn{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}
.enter_btn a{
    padding: 5px 10px;
    background: #fff;
    border-radius: 5px;
    color: #1837d5;
    font-size: 14px;
    font-family: "Roboto-Regular"; 
}
.enter_btn a:hover{
    background: rgba(255, 255, 255, 0.7);
}
.caption {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 45px;
    transform: translateY(-50%);
    display: block;
    width: 1170px;
    text-align: center;
}

.carousel-caption-content {
    padding: 0 20%;
}
.item{
    position: relative;
}


.owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    bottom: 50%;
    width: 100%;
}
button.owl-prev {
    position: absolute;
    left: 15%;
    float: left;
}
button.owl-next {
    position: absolute;
    right: 15%;
    float: right;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #FFF;
    text-decoration: none;
}
.owl-theme .owl-nav [class*=owl-]:focus {
    outline: none;
}
.content-btn{
    text-align: center;
    padding-top: 30px;
}
.content-btn a{
    text-decoration: none;
    /*display: inline-block;*/
    padding: 8px 30px;
    border-radius: 8px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
}
.content-btn a:hover{
    background: rgba(255, 255, 255, 0.6);
}
/* секция Popular */
.popular{
    background: #fafafa;
    color: #1c2130; 
    padding-bottom: 100px;
}
.popular-item{
    -webkit-box-shadow: 0px 3px 12px -1px rgba(230,234,239,0.75);
    -moz-box-shadow: 0px 3px 12px -1px rgba(230,234,239,0.75);
    box-shadow: 0px 3px 12px -1px rgba(230,234,239,0.75);
}
.popular-photo img {
    border-radius: 6px 6px 0 0;
}
.projects {
    margin-top: 115px;
    padding-bottom: 40px;
}
.projects h1 {
    font-size: 28px;
    margin: 0;
    padding-left: 13px;
    display: inline-block;
}
.projects a {
    padding-right: 110px;
    padding-top: 12px;
    font-size: 16px;
    text-decoration: underline;
    float: right;
    display: block;
    color: #3d56d9;
}
.popular-content{
    background: #fff;
    padding: 1px 17px 8px 12px;
}
.popular-content h1{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 9px;
}
.popular-p p{
    padding-bottom: 25px;
}
.popular-p h5{
    color: #939393;
}
.wrap-slick button.slick-prev.slick-arrow:before {
    content: "\f104";
	font: normal normal normal 30px/0 FontAwesome;
	background: none;
	color: #203dd4;
}

.wrap-slick button.slick-next.slick-arrow:before {
    content: "\f105";
	font: normal normal normal 30px/0 FontAwesome;
	background: none;
	color: #203dd4;
}
.wrap-slick button.slick-prev.slick-arrow,.wrap-slick button.slick-next.slick-arrow {
    position: absolute;
    top: -50px;
    background: #fff;
    border-radius: 0 20px 20px 0;
    height: 30px;
}
.wrap-slick button.slick-prev.slick-arrow{
    left: auto;
    right: 55px;
    border-radius: 20px 0 0 20px;
    padding: 6px 12px 0px 9px;
}
.wrap-slick button.slick-next.slick-arrow {
    right: 21px;
    padding: 6px 9px 0px 12px;
}
.col-md-4.slick-slide:focus {
    outline: none;
}
/* Секция News */
.news{
    color: #f3f3f3;
    font-family: 'Montserrat-Regular';
    margin-bottom: 90px;
}
.news-animate{
    position: relative;
    width: 382px;
    min-height: auto;
    transition: background-color 0.5s;
}
.news-item.slick-slide:focus {
    outline: none;
}
.slick-center img{
    opacity: 1;
    transform: scale(1.08);
}
.slick-center img{
    transition: all 300ms ease;
    opacity: 0.8;
}
 .news-animate{
    /* background: rgba(0,0,0,.5); */
    padding-left: 40px;
}
/*.news-animate:before {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: inherit;
    content: ' ';
} */

.news-content {
    margin-left: 30px;
}
.news-title h1{
    color: #333;
    text-align: center;
    margin: 55px 0 66px 0; 
}
.news-content-date {
    position: absolute;
    bottom: 110px;
    text-transform: uppercase;
}
.news-content-p {
    position: absolute;
    bottom: 50px;
    font-size: 18px;
    width: 7%;
}
.slick-next{
    right: -70px;
}
.slick-prev{
    left: -70px;
}
.slick-prev, .slick-next{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: auto;
    height: auto;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-dots{
    bottom: -50px;
}
.slick-dots li button:before{
    font-size: 60px;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 0px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
li.slick-active button {
    background: #333!important;
}
.slick-dots li button {
    width: 30px;
    height: 0;
    padding: 2px;
    cursor: pointer;
    background: #d4d4d4;
    
}
.slick-dots li button:before{
    content: none;
}
/* Секция Google MAP */
.footer-map{
    position: relative;
}
#map{
    height: 780px;
    width: 100%;
}
.contacts{
    position: absolute;
    color: #333;
    background: #fff;
    border-radius: 7px;
    bottom: 20%;
    z-index: 5;
    width: 520px;
}
.contacts h1{
    padding-top: 60px;
    font-family: 'Montserrat-Regular';
}
.info-list{
    padding-left: 90px;
}
ul.info {
    padding: 20px 0 25px 0;
}
.info-icons{
    display: inline-block;
}
ul.info li {
    display: inline-block;
    line-height: 3;
    margin-left: 14px;
}
.info li p {
    font-family: 'OpenSans-SemiBold';
    color: #666666;
}
p.address {
    width: 70%;
    line-height: normal;
}
.pin_map{
    vertical-align: top;
}
.social-icons{
    display: inline-block;
    margin-bottom: 55px;
}
.social-icons-item{
    display: inline-block;
    margin-right: 15px;
    background: #f7f7f7;
    border-radius: 50%;
    padding: 6px 9px;
    width: 36px;
    height: 35px;
}
.fa-twitter:hover{
    color: #41B1FC;
}
.fa-facebook:hover{
    color: #39508E;
}
.fa-dribbble:hover{
    color: #E34280;
}
.fa-pinterest-p:hover{
    color: #C21D29;
}
.fa{
    font-size: 22px;
    color: #999999;
}
/* Секция Footer */
.footer-list{
    padding-top: 80px;
    padding-bottom: 50px;
    background: #203dd4;
    font-family: 'Montserrat-Regular';
}

.footer-title h2{
    font-family: 'Roboto-Bold';
    font-size: 16px;
    text-transform: uppercase;
}
.footer-list-item{
    list-style: none;
    font-size: 14px;
    line-height: 2;
}
.sing-in h3{
    font-size: 16px;
}
.sing-in-email {
    padding: 17px 45px;
    width: 90%;
    background: url('../img/email.png') no-repeat 14px 15px;
    background-color: #fff;
    color: #b9bdc3;
    border: none;
    border-radius: 5px;
    outline: none;
}
label {
    padding-bottom: 20px;
}
.footer-icons{
    display: inline-block;
    margin-top: 30px;
    padding: 6px;
    border: 1px solid #6378e1;
    border-radius: 5px;
}
.footer-icons-item{
    display: inline-block;
}
a.fb {
    border: 1px solid #6378e1;
    border-top: none;
    border-bottom: none;
    padding: 10px 6px 13px 6px;
}
.foot-line {
    background-color: #6378e1; height: 1px; border: 0; 
}
.foot-item h6{
    font-size: 10px;
}
.foot-item h4{
    font-size: 14px;
    font-family: 'OpenSans-Regular';
}
.foot-item h4 span{
    color: #8187a5;
}